node {
    size: 0.3gu;
    fill-color: blue;
    text-mode: hidden;
    z-index: 1000;
}

edge {
    shape: line;
    arrow-size: 0px, 0px;
}

node.bypassed_receptor {
    size: 0.6gu;
    stroke-mode: plain;
    stroke-color: black;
    fill-color: yellow;
    z-index: 10000;
}

node.still_receptor {
    size: 0.4gu;
    stroke-mode: plain;
    stroke-color: black;
    fill-color: yellow;
    z-index: 10000;
}

node.bypassed_neuron {
    size: 0.4gu;
    fill-color: green;
}

node.still_neuron {
    size: 0.3gu;
    fill-color: red;
}

node.bypassed_effector {
    size: 0.6gu;
    stroke-mode: plain;
    stroke-color: green;
    fill-color: cyan;
    z-index: 10000;
}

node.still_effector {
    size: 0.4gu;
    stroke-mode: plain;
    stroke-color: red;
    fill-color: cyan;
    z-index: 10000;
}

node.bypassed_paineffector {
    size: 0.6gu;
    stroke-mode: plain;
    stroke-color: #000000;
    fill-color: magenta;
    z-index: 10000;
}

node.still_paineffector {
    size: 0.4gu;
    stroke-mode: plain;
    stroke-color: #000000;
    fill-color: magenta;
    z-index: 10000;
}

node.training_input {
    fill-color: black;
    text-mode: hidden;
}


edge.still_inhibitory {
    stroke-color: rgb(255, 200, 200);
    fill-color: rgb(255, 200, 200);
    stroke-width: 1px;
    stroke-mode: plain;
    z-index: 100;
}

edge.still_excitatory {
    stroke-color: rgb(200, 255, 200);
    fill-color: rgb(200, 255, 200);
    stroke-width: 1px;
    stroke-mode: plain;
    z-index: 100;
}

edge.bypassed_inhibitory {
    stroke-color: red;
    fill-color: red;
    stroke-width: 1px;
    stroke-mode: plain;
    z-index: 100;
}

edge.bypassed_excitatory {
    stroke-color: green;
    fill-color: green;
    stroke-width: 1px;
    stroke-mode: plain;
    z-index: 100;
}