node {
    size: 0.3gu;
    fill-color: blue;
    text-mode: hidden;
    z-index: 0;
}

edge {
    shape: line;
    arrow-size: 5px, 2px;
}

node.receptor {
    size: 0.3gu;
    fill-color: yellow;
    text-mode: hidden;
    z-index: 0;
}

node.neuron {
    size: 0.3gu;
    fill-color: blue;
    text-mode: hidden;
    z-index: 0;
}

node.effector {
    size: 0.3gu;
    fill-color: cyan;
    text-mode: hidden;
    z-index: 0;
}

node.training_input {
    size: 0.3gu;
    fill-color: black;
    text-mode: hidden;
    z-index: 0;
}


edge.still_inhibitory {
    stroke-color: red;
    fill-color: red;
    stroke-width: 1px;
    stroke-mode: plain;
    z-index: 0;
}

edge.still_excitatory {
    stroke-color: green;
    fill-color: green;
    stroke-width: 1px;
    stroke-mode: plain;
    z-index: 100;
}

edge.bypassed_inhibitory {
    stroke-color: red;
    fill-color: red;
    stroke-width: 1px;
    stroke-mode: plain;
    z-index: 0;
}

edge.bypassed_excitatory {
    stroke-color: green;
    fill-color: green;
    stroke-width: 1px;
    stroke-mode: plain;
    z-index: 100;
}